[Desktop Entry]
Encoding=UTF-8
Name=Searchmonkey file finder
Icon=searchmonkey.png
Comment=Searchmonkey file finder
Exec=searchmonkey
Terminal=false
Type=Application
Categories=X-FilesystemFind
GenericName=Searchmonkey
